.Rproj.user
.Rhistory
.RData
eng_korman_from_swingley2005/
paper.R
paper-concordance.tex
paper.bbl
paper.bcf
paper.blg
paper.fff
paper.log
paper.pdf
paper.run.xml
paper.synctex.gz
paper.tex
paper.ttt
library.bib
add.cites.bib
transcripts/
.DS_Store
coding_doc.txt
batchtest-files
packrat/lib*/
plots/
contexts
utt_orth_phon_KEY_SKEW.txt
utt_orth_phon_KEY_UNIF.txt
nontexts_CutoffSim/
nontexts_SizeSim/
nontexts_SizeSimSKEW/
nontexts_SizeSimUNIF/
nontexts_humanjudgments/
nontexts_wordlists/
contexts_humanjudgments/
